<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    

         <% competences.forEach(function(element) { %>
            <li>
                <%= element.competence %> -  <%=element.niveau %>
                   
            </li>
            <% }); %>


</main>

<footer>
    <% include ../partials/footer %>
</footer>

<!-- Recherche de la solution pour l'affichage des étoiles -->
<!-- <script>


    function etoile(nombre){
    if(nombre == 1){
        var etoiles = '*';
    }else if(nombre == 2){
       var etoiles = '**' ;
    }else if(nombre == 3){
        var etoiles ='***';
    }else if(nombre == 4){
        var etoiles ='****';
    }else if(nombre == 5){
        var etoiles ='*****';
    }else{
        var etoiles ='******';
    }
    return etoiles
};

</script> -->

</body>
</html>
